<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">My CRM</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a ui-sref="auth.dashboard">Dashboard</a></li>
        <li><a ui-sref="auth.employees">Employees</a></li>
        <li><a ui-sref="auth.locations">Locations</a></li>
        <li><a ui-sref="auth.places">Places</a></li>
        <li><a ng-click="logout()">Logout</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <ul class="nav nav-pills nav-stacked">
        <li><a ui-sref="auth.dashboard">Dashboard</a></li>
        <li><a ui-sref="auth.employees">Employees</a></li>
        <li><a ui-sref="auth.locations">Locations</a></li>
        <li><a ui-sref="auth.places">Places</a></li>
        <li><a ng-click="logout()">Logout</a></li>
      </ul>
    </div>
    <div class="col-xs-9">
      <div ui-view></div>
    </div>
  </div>
</div><!-- /.container -->
